<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154361087501-5t3u0sjt32b5i3f83oennjgte4brod1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154361087501-5t3u0sjt32b5i3f83oennjgte4brod1q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154361087501-ahgkfpv04h1ksq5aqh817semt1n714of.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDScC6my_1iUJJooFkFbv3Qsnm26riU5W4</string>
	<key>GCM_SENDER_ID</key>
	<string>154361087501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-aceb8</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-aceb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154361087501:ios:cdf528111599c0e5ba3744</string>
</dict>
</plist>